<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Background Jobs</li>
  </ol>
</nav>
<header>
  <h1>All Background Jobs</h1>
</header>
<section>
  <% @job_statuses.each do |status| %>
    <h2><%= status.capitalize %></h2>
    <table class="table table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">job_type</th>
          <th scope="col">params</th>
          <th scope="col">status</th>
          <th scope="col">pid</th>
          <th scope="col">system_message</th>                        
          <th scope="col">created</th>
          <th scope="col">updated</th>
          <% if status == 'failed' %>
            <th scope="col"></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @jobs[status].each_with_index do |job, index| %>
          <tr>
            <th scope='row'><%= index + 1 %></th>
            <td><%= job['id'] %></td>
            <td><%= job['job_type'] %></td>
            <td><%= job['params'] %></td>
            <td><%= job['status'] %></td>
            <td><%= job['pid'] %></td>
            <td><%= job['system_message'] %></td>
            <td><%= job['created'] %></td>
            <td><%= job['updated'] %></td>
            <% if status == 'failed' %>
              <td scope="col">
                <form action="/admin/background-jobs" method="post">
                  <input type="hidden" name="job_id" value="<%= job['id'] %>">
                  <input type="hidden" name="queue_job" value="true">
                  <button type="type" class="btn btn-primary">Try again</button>
                </form>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    <table>
    <% if @jobs[(status + '_count')][0]['count'].to_i > 10 %>
      <p><a href=""><%= @jobs[(status + '_count')][0]['count'].to_i - 10 %> more results...</a></p>
    <% end %>
  <% end %>
</section>
