<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Background Jobs</li>
  </ol>
</nav>
<header>
  <h1>Background Jobs</h1>
</header>
<section>
  <div class="p-4 bg-light text-dark border border-dark rounded-sm" role="alert">
    <% if @background_workers_status %>
      <p class='h2'>Status: <span class="badge badge-success">Running</span></p>
      <div class="card">
        <p class="h4 card-header">Number of Threads: <%= @thread_stats.count %></p>
        <div class="card-body">
          <% @thread_stats.each_with_index do |thread_stat, index| %>
            <p class="mb-2"><strong>Thread <%= index + 1 %></strong> (ID #<%= thread_stat[:id] %>): <%= thread_stat[:status] ? 'Alive' : 'Dead' %> and <%= thread_stat[:mode].capitalize %><%= thread_stat[:mode] == 'processing' ? " Job ID \##{thread_stat[:job_id]}" : '' %>...</p>
          <% end %>
          <hr>
          <% if @number_of_threads != @thread_stats.count %>
            <p>The number of threads configured to run does not match the number of threads that are actually running. This could be due to either:</p>
            <ol>
              <li>Limitations of the machine this app is running on</li>
              <li>The operating system did not have that number of threads available when the threads were initialized</li>
            </ol>
            <p>Press the <strong>Restart</strong> button to restart the system to try to initialize the number of threads configured in this app.</p> 
            <form action="/admin/background-jobs" method="post">
              <input type="hidden" name="restart" value="true">
              <button type="type" class="btn btn-secondary mb-3">Restart</button>
            </form>
          <% end %>
          <p>Change the number of threads on the <a href="/admin/settings" class="text-primary">settings</a> page.</p>
        </div>
      </div>
      <p class='pt-3'>If you press 'Stop', all jobs that are running will be cancelled and put back in the queue.</p>
      <form action="/admin/background-jobs" method="post">
        <input type="hidden" name="stop" value="true">
        <button type="type" class="btn btn-primary btn-lg">Stop</button>
      </form>
    <% else %>
      <p class='h2'>Status: <span class="badge badge-danger">Not Running</span></p>
      <hr>
      <p>There are no jobs in the queue. The system will start when you add a job.</p>
      <form action="/admin/background-jobs" method="post">
        <input type="hidden" name="start" value="true">
        <button type="type" class="btn btn-primary btn-lg">Start</button>
      </form>
    <% end %>
  </div>
</section>
<section>
  <% @job_statuses.each do |status| %>
    <h2><%= status.capitalize %></h2>
    <% if status == 'queued' && @jobs[status].values.length > 1 %>
      <p>If you press 'Sort Queue', the job(s) that are running will finish, then the background jobs system will stop so you can sort the jobs in the queue.</p>
      <a href="/admin/background-jobs/queued/sort" class="btn btn-secondary mb-3" role="button" aria-pressed="true">Sort Queue</a>
    <% end %>
    <table class="table table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <% if status == 'queued' %>
            <th scope="col">Queue Order</th>
          <% end %>
          <th scope="col">Job Type</th>
          <th scope="col">Params</th>
          <% if status == 'queued' %>
            <th scope="col">Assigned to Worker ID</th>
          <% end %>  
          <% if status == 'running' || status == 'failed' %>
            <th scope="col">Worker ID</th>
            <th scope="col">Thread ID</th>
          <% end %>                      
          <th scope="col">Updated</th>
          <% unless status == 'completed' %>
            <th scope="col"></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @jobs[status].each_with_index do |job, index| %>
          <tr>
            <th scope='row'><%= index + 1 %></th>
            <td><%= job['id'] %></td>
            <% if status == 'queued' %>
              <td scope="col"><%= job['queue_order'] %></td>
            <% end %>
            <td><%= capitalize_words(underscores_to_spaces(job['job_type'])) %></td>
            <td><%= format_background_job_params(job['params']) %></td>
            <% if status == 'queued' %>
              <td><%= job['background_worker_id'] %></td>
            <% end %>  
            <% if status == 'running' || status == 'failed' %>  
              <td><%= job['background_worker_id'] %></td>          
              <td><%= job['background_thread_id'] %></td>
            <% end %>
            <td><%= job['updated'] %></td>
            <% if status == 'queued' %>
              <td scope="col">
                <form action="/admin/background-jobs" method="post">
                  <input type="hidden" name="delete_job" value="true">
                  <input type="hidden" name="id" value="<%= job['id'] %>">
                  <input type="hidden" name="background_worker_id" value="<%= job['background_worker_id'] %>">
                  <input type="hidden" name="background_thread_id" value="<%= job['background_thread_id'] %>">
                  <button type="type" class="btn btn-danger btn-sm">Delete</button>
                </form>
              </td>
            <% end %>
            <% if status == 'running' %>
              <td scope="col">
                <form action="/admin/background-jobs" method="post">
                  <input type="hidden" name="cancel_job" value="true">
                  <input type="hidden" name="id" value="<%= job['id'] %>">
                  <input type="hidden" name="background_worker_id" value="<%= job['background_worker_id'] %>">
                  <input type="hidden" name="background_thread_id" value="<%= job['background_thread_id'] %>">
                  <button type="type" class="btn btn-danger btn-sm">Cancel</button>
                </form>
                <form action="/admin/background-jobs" method="post">
                  <input type="hidden" name="delete_job" value="true">
                  <input type="hidden" name="id" value="<%= job['id'] %>">
                  <input type="hidden" name="background_worker_id" value="<%= job['background_worker_id'] %>">
                  <input type="hidden" name="background_thread_id" value="<%= job['background_thread_id'] %>">
                  <button type="type" class="btn btn-danger btn-sm">Delete</button>
                </form>
              </td>
            <% end %>
            <% if status == 'failed' %>
              <td scope="col">
                <form action="/admin/background-jobs" method="post">
                  <input type="hidden" name="id" value="<%= job['id'] %>">
                  <input type="hidden" name="queue_job" value="true">
                  <button type="type" class="btn btn-success btn-sm">Try again</button>
                </form>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    <table>
    <% if @jobs[(status + '_count')][0]['count'].to_i > 10 %>
      <p><a href=""><%= @jobs[(status + '_count')][0]['count'].to_i - 10 %> more results...</a></p>
    <% end %>
  <% end %>
</section>
