<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
    <li class="breadcrumb-item"><a href="/admin/mazes">Mazes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Formulas</li>
  </ol>
</nav>
<header>
  <h1>Maze Formulas</h1>
</header>
<section>
<% @maze_types.each do |type| %>
  <h2><%= type.to_s.capitalize %></h2>
  <nav class="nav flex-column">
  <% @formula_status_list.each do |status| %>
    <a class="nav-link" href="/admin/mazes/formulas/<%= type %>#<%= status %>"><%= status %>: <%= @maze_status_counts[type][status] %></a>
  <% end %>
  </nav>
<% end %>
</section>
