<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
    <li class="breadcrumb-item"><a href="/admin/mazes">Mazes</a></li>
    <li class="breadcrumb-item"><a href="/admin/mazes/formulas">Formulas</a></li>
    <li class="breadcrumb-item active" aria-current="page">New</li>
  </ol>
</nav>
<header>
  <h1>New Maze Formula</h1>
</header>
<section>
  <article>
    <p>Create a new Maze Formula.</p>
    <form action="/admin/mazes/formulas/new" method="post">
      <div class="form-group">
        <div class="row">
          <div class="form-group col-md-8">
            <label for="maze_type" >Maze <strong>Type</strong></label>  <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-html="true" title="<%= @maze_types_popover[:title]%>" data-content="<%= @maze_types_popover[:body]%>"><i class="fas fa-question-circle"></i></a>
            <select class="form-control form-control" name="maze_type" id="maze_type">
              <% @maze_types.each do |type| %>
                <% type_string = type.to_s.capitalize %>
                <% type_string = array_to_string(replace_underscores_with_space(type_string).split) if type_string.include?('_') %>
                <option value="<%= type %>"><%= type_string %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="x_value">Grid <strong>Width</strong> (x-value)</label> <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="<%= @maze_dimensions_popover[:x][:title]%>" data-content="<%= @maze_dimensions_popover[:x][:body]%>"><i class="fas fa-question-circle"></i></a>
            <input type="number" class="form-control" name="x_value" id="x_value" aria-describedby="x-help" placeholder="0">
          </div>
          <div class="form-group col-md-4">
            <label for="y_value">Grid <strong>Height</strong> (y-value)</label> <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="<%= @maze_dimensions_popover[:y][:title]%>" data-content="<%= @maze_dimensions_popover[:y][:body]%>"><i class="fas fa-question-circle"></i></a>
            <input type="number" class="form-control" name="y_value" id="y_value" aria-describedby="y-help" placeholder="0">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="endpoints">Number of <strong>Endpoints</strong></label> <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="<%= @square_type_popovers[:endpoint][:title]%>" data-content="<%= @square_type_popovers[:endpoint][:body]%>"><i class="fas fa-question-circle"></i></a>
            <input type="number" class="form-control" name="endpoints" id="endpoints" placeholder="0">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="barriers">Number of <strong>Barriers</strong></label> <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="<%= @square_type_popovers[:barrier][:title]%>" data-content="<%= @square_type_popovers[:barrier][:body]%>"><i class="fas fa-question-circle"></i></a>
            <input type="number" class="form-control" name="barriers" id="barriers" placeholder="0">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="bridges">Number of <strong>Bridges</strong></label> <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="<%= @square_type_popovers[:bridge][:title]%>" data-content="<%= @square_type_popovers[:bridge][:body]%>"><i class="fas fa-question-circle"></i></a>
            <input type="number" class="form-control" name="bridges" id="bridges" placeholder="0">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="tunnels">Number of <strong>Tunnels</strong></label> <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="<%= @square_type_popovers[:tunnel][:title]%>" data-content="<%= @square_type_popovers[:tunnel][:body]%>"><i class="fas fa-question-circle"></i></a>
            <input type="number" class="form-control" name="tunnels" id="tunnels" placeholder="0">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="portals">Number of <strong>Portals</strong></label> <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="<%= @square_type_popovers[:portal][:title]%>" data-content="<%= @square_type_popovers[:portal][:body]%>"><i class="fas fa-question-circle"></i></a>
            <input type="number" class="form-control" name="portals" id="portals" placeholder="0">
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="expirimental" id="expirimental" value="true">
          <label class="form-check-label" for="expirimental">
            This is an expirimental formula. Override validation. 
          </label>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Submit Form</button>
      </div>
    </form>
  </article>
</section>
